<!DOCTYPE html>
<html>
	<head>
		<title>
			会員変更入力 | シェアードショップ
		</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="css/layout.css" />
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
	</head>
	<body class="user user_update_input">
		<header>
			<div class="container">
				<h1 class="site_title">
					シェアードショップ
				</h1>
				<div class="user_info">
					<a href="/shared_shop/user/detail">
						一般かえで
					</a>
					さん、ようこそ |
					<a href="/shared_shop/logout">
						ログアウト
					</a>
				</div>
			</div>
		</header>
		<nav class="navi_area">
			<ul class="navi_menu">
				<li>
					<a href="/shared_shop/">
						トップ
					</a>
				</li>
				<li>
					<a href="/shared_shop/item/list/1">
						新着一覧
					</a>
				</li>
				<li>
					<a href="/shared_shop/basket/list?page=0">
						買い物かご
					</a>
				</li>
				<li>
					<a href="/shared_shop/order/list">
						注文一覧
					</a>
				</li>
			</ul>
		</nav>
		<div class="container">
			<aside class="search" >
				<div  class="search_area">
					<h2 class="title">
						カテゴリ別検索
					</h2>
					<div class="form">
						<form action="/shared_shop/item/list/category/1">
							<select name="categoryId">
								<option value="2">
									書籍
								</option>
								<option value="1">
									食料品
								</option>
								<option value="15">
									キッチン用品
								</option>
								<option value="13">
									アクセサリ
								</option>
								<option value="6">
									掃除用具
								</option>
								<option value="5">
									文房具
								</option>
								<option value="7">
									食器
								</option>
								<option value="12">
									手芸用品
								</option>
								<option value="8">
									ネットワーク機器
								</option>
								<option value="9">
									飲み物
								</option>
								<option value="10">
									OA用品
								</option>
								<option value="11">
									園芸用品
								</option>
								<option value="3">
									乗り物
								</option>
								<option value="4">
									その他
								</option>
							</select>
							<input type="submit" value="検索" />
						</form>
					</div>
				</div>
			</aside>
			<article class="main">
				<h2 class="title">
					会員変更入力
				</h2>
				<div class="user_info_form_area">
					<form method="post" action="/shared_shop/user/update/check"  class="user_info_form">
						<br />
						<ul class="input_list">
							<li>
								<label>
									<span class="input_title">
										メールアドレス
									</span>
									<input type="text" name="email" value="ippan_kaede@test.com"/>
								</label>
							</li>
							<li>
								<label>
									<span class="input_title">
										パスワード
									</span>
									<input type="password" name="password" value="12341234"/>
								</label>
							</li>
							<li>
								<label>
									<span class="input_title">
										氏名
									</span>
									<input type="text" name="name" value="一般かえで"/>
								</label>
							</li>
							<li>
								<label>
									<span class="input_title">
										郵便番号
									</span>
									<input type="text" name="postalCode" value="1111112"/>
								</label>
							</li>
							<li>
								<label>
									<span class="input_title">
										住所
									</span>
									<textarea name="address" rows="6">
										TOKYO
									</textarea>
								</label>
							</li>
							<li>
								<label>
									<span class="input_title">
										電話番号
									</span>
									<input type="text" name="phoneNumber" value="0312341234"/>
								</label>
							</li>
						</ul>
						<input type="hidden" name="authority" value="2" />
						<input type="hidden" name="id" value="27"/>
						<input type="submit" value="確認" class="send_button" />
					</form>
					<form action="/shared_shop/user/detail">
						<input type="submit" value="戻る" class="back_button" />
					</form>
				</div>
			</article>
		</div>
		<footer>
			<small class="container">
				Copyright(C) 2017 System Shared co., ltd, ALL Rights Reserved
			</small>
		</footer>
	</body>
</html>
