<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8">
	<title>お届け先入力｜シェアードショップ</title>
</head>
<body class="main order_address_input">
	<h2 class="title">お届け先入力</h2>
<!-- 	<div th:if="${#lists.isEmpty(orders)}">
			<p th:text="#{orderList.none}"></p>
	</div> -->
	<div class="address_input_form">
		<form method="post" th:action="@{/payment/input}">
			<br>
			<ul class="input_list">
				<li>
					<label>
						<span class="input_titlesa">郵便番号</span>
						<input type="text" name="postalCode" th:value="${order.postalCode}"/>
					</label>
				</li>
				<li>
					<label>
						<span class="input_title">住所</span>
						<textarea name="address" rows="6" th:text="${order.address}"></textarea>
					</label>
				</li>
				<li>
					<label>
						<span class="input_title">氏名</span>
						<input type="text" name="name" th:value="${order.name}"/>
					</label>
				</li>
				<li>
					<label>
						<span class="input_title">電話番号</span>
						<input type="text" name="phoneNumber" th:value="${order.phoneNumber}"/>
					</label>
				</li>
			</ul>
 			<input type="submit" value="次へ" class="send_botton"/>
			<input type="hidden" name="backFlg" value="false"/>
		</form>
		<form action="/shared_shop/basket/list?page=0">
			<input type="submit" value="戻る" class="back_botton"/>
		</form>
	</div>
</body>
</html>