<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8">
	<title>お支払方法選択｜シェアードショップ</title>
</head>
<body class="main  order_payment_input">
	<h2 class="title">お支払方法選択</h2>
	<div class="user_info_form_area">
		<form method="post" th:action="@{/order/check}" th:object="${orderForm}">
			<ul class="payment_method_select">
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="1"  checked="checked"/>クレジットカード
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="2"/>銀行振込
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="3"/>着払い
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="4"/>電子マネー
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" name="payMethod" value="5"/>コンビニ決済
					</label>
				</li>
			</ul>
			<input type="hidden" name="postalCode" th:value="${order.postalCode}" />
			<input type="hidden" name="address" th:value="${order.address}" />
			<input type="hidden" name="name" th:value="${order.name}" />
			<input type="hidden" name="phoneNumber" th:value="${order.phoneNumber}" />
			<input type="submit" value="次へ" class="send_botton"/>
			
		</form>
		<form method="post" th:action="@{/address/input}" class="update">
			<input type="hidden" name="postalCode" th:value="${order.postalCode}" />
			<input type="hidden" name="address" th:value="${order.address}" />
			<input type="hidden" name="name" th:value="${order.name}" />
			<input type="hidden" name="phoneNumber" th:value="${order.phoneNumber}" />
			<input type="hidden" name="backFlg" th:value="true"/>
			<input type="submit" value="戻る" class="back_botton"/>
		</form>
	</div>
</body>
</html>